<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/1966a3f118.js" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="../styles.css" type="text/css">
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/1">
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3">E-BOOKSTORE</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link"><span style="padding-left:40px;">Hi, <%=user.name%></span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <li class="nav-item active">
                <a class="nav-link"><span style="color:white;padding-left:60px;">GENRES</span></a>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/fiction/1">Fiction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nonFiction/1">Non-Fiction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/education/1">Education</a>
            </li>

            
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link active" href="#">My Library<span style="padding-left:5px; font-size: 14px;">(<%=data.booksBought.length%>)</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search"
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <button class="btn btn-primary btn-user btn-block"><a href="/logout"
                                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Logout</a></button>
                        </li>
                    </ul>
                </nav>
                <div class="container mx-5 px-0 my-0 py-0">
                    <div class="row mx-0 my-0 px-0 py-0">
                        <% data.booksBought.forEach(function(book){%>
                            <div class="col-xs-4 my-0 py-0 mx-0 px-0">
                                <div class="card shadow" style="width: 176px; height:337.16px; margin:10px;">
                                    <a href="/pdf/<%=book.id%>"><img src="<%=book.image%>" style="width:176px; height:271.16px;"></a>
                                    <div class="card-body">
                                        <p class="card-text" style="font-size:13.5px; align-items: center; justify-items:center; justify-content: center;"><%=book.name%></p>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                    </div>
                </div>
            </div>
        
    </div>

    
</body>
</html>